{% extends "layout.html" %}
{% block body %}
{% load crispy_forms_tags %}
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{article.title}}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{article.created_date}} by {{request.user}}</div>
                </header>
                <!-- Preview image figure-->
                {% if article.article_image %}
                <figure class="mb-4"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..." /></figure><hr>
                {% endif %}

                <!-- Post content-->
                <section class="mb-5">
                   {{article.content | safe}}
                </section>
            </article>

            <h4>Yorumlar</h4>
            <hr>
            {% if comments %}
            {% for comment in comments %}
            <div class="d-flex">
                <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                <div class="ms-3">
                    <div class="fw-bold">{{comment.comment_user}}</div>
                    <small>{{comment.comment_date}}</small> <br>
                    {{comment.comment_content}}
                </div>
            </div>
            <hr>
            {% endfor %}

            {% else %}
            <div class="alert alert-danger">
                Makaleye Yorum Yapılmamış..
            </div>
            {% endif %}
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light"><h5>Yorum Ekle</h5>
                    <div class="card-body">
                        <form method="post" action="{% url 'article:comment' article.id %}">
                            {% csrf_token %}
                            <!-- Comment form-->
                            <div class="mb-3">
                                <label for="fromGrupExampleInput" class="form-label">Kullanıcı Adı</label>
                                <input name="comment_user" type="text" class="form-control" id="fromGrupExampleInput" placeholder="Kullanıcı Adı Giriniz..">
                            </div>
                            <label for="fromGrupExampleInput" class="form-label">Yorum</label>
                            <textarea name="comment_content" class="form-control" rows="3" placeholder="Yorum yap..."></textarea>
                            <button type="submit" class="btn btn-primary">Yorum yap</button>
                        </form>
                    </div>
                </div> 
            </section>  
            
        </div>
    </div>
</div>
{% endblock  %}